<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson01 Typescript</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/list.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Lesson02 Typescript</h1>
        </header>
        <main class="main">
            <div class="img">
                <img src="./images/miirshe.jpg" alt="">
            </div>
            <div class="sub_main">
                <h5>Hi` I am miirshe.</h5>
                <p>I`m web developer with two years of professional experience. Proficient in front-end and back-end development, with a strong understanding of web technologies and best practices. Detail-oriented and collaborative, able to effectively communicate
                    with clients and team members to deliver high-quality results. Committed to staying up-to-date with the latest industry trends and continuously expanding knowledge and skills</p>
            </div>
        </main>
    </div>
</body>

</html>